@inject ISearcher searcher

<div class="my-component">
    This component is defined in the <strong>KlinView</strong> library.
</div>

<MudText> Razor Library</MudText>


<MudColorPicker Label="Basic Color Picker" @bind-Text="_colorValue" Style="@($"color: {_colorValue};")" Placeholder="Select Color" />
@code {
    private string _colorValue;
}
